:root {
  --tu_blue_primary: #154073;
  --tu_blue_primary_rgb: 21, 64, 115;
  --tu_logo_bg_dark: rgba(21, 64, 115, 0.2);
  --header-bg-light: rgba(255, 255, 255, 0.9);
  --header-bg-dark: rgba(15, 23, 42, 0.9);
  --border-light: #e2e8f0;
  --border-dark: #1e293b;
  --bg-light: #f8fafc;
  --bg-dark: #1e293b;
  --text-light: #0f172a;
  --text-dark: #f1f5f9;
  --search-dark: #1e293b;
  --search-light: #f8fafc;
  --par-light: #475569;
  --par-dark: #94a3b8;
  --btn-hover: #1a4f8d;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Display Font", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-light);
  color: var(--text-light);
  margin: 0;
}

.main_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  flex-shrink: 0;
}

.relative_container {
  position: relative;
  width: 100%;
}

.background_overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
}

.media_fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


  body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }

  /* 1. По подразбиране (светъл режим) - скриваме тъмните картинки */
.theme_dark_img {
  display: none !important;
}

/* 2. Когато сме в Тъмен режим (.dark-mode) - скриваме светлите картинки */
body.dark-mode .theme_light_img {
  display: none !important;
}

/* 3. И показваме тъмните картинки */
body.dark-mode .theme_dark_img {
  /* Използваме flex или inline-flex, защото твоите .icon_box и .footer_icon са flex елементи според оригиналния ти CSS */
  display: inline-flex !important; 
}